.main-div {
  --background: linear-gradient(#f8f8f8, #ccc);
}
.apple {
  width: 20%;
  margin: 0 auto 50px auto;
}
.help-text {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
}
.bold {
  font-weight: bold;
}
